<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="index-container">
        <h2>Welcome to SafeReader</h2>

        <div class="links-container">
            <a href="/login" class="btn btn-link">Log in</a>
            <a href="/signup" class="btn btn-link">Sign up</a>
        </div>
    </div>
</body>
</html>
