<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Encrypted PDF</title>
</head>
<body>
    <input type="file" id="file-input" accept=".pdf">
    <input type="password" id="password" placeholder="Enter password">
    <button onclick="encryptAndUpload()">Encrypt & Upload PDF</button>

    <script>
        function encryptAndUpload() {

            const key =
            const reader = new FileReader();
            reader.add




        }

        async function keyFromPassword(password) {
            let key = await window.crypto.subtle.deriveKey(

            );
        }
    </script>
</body>
</html>
